td, th  {
    vertical-align: middle !important;
}

input.valid {
    background-image: url(images/valid_input_image_25x25_2.png);
    border-color: #b2dba1 !important;    
}

input.error {
    background-image: url(images/error_input_image_25x25_4.png);
    border-color: #b98686 !important;
}

textarea.valid {
    border-color: #b2dba1 !important;    
}

textarea.error {
    border-color: #b98686 !important;
}

span.help-block {
    color: #b98686 !important;
}

.center {
    position: relative;
    top: 18px;
    right: 0;  
}

.row-height-1 {
    height: 92px;
}

.row-height-2 {
    height: 42px;
}

.row-height-3 {
    height: 120px;
}

.marg{
    margin-top: 14px;
}

.form-control, .alert {
    border-radius: 0px;
}

.for-empty-table {
    text-align: center;
    color: #FF4500;
}

.ad {
    
}

.table-header, .table-header-action {
    font:14px Arial, Helvetica, sans-serif;
    font-weight:bold;
    background-color:#4581AE;
    color:#E5FFFF;
}

.table-header-action {
    text-align: center;
}

.btn-add-edit, .clear-button, .btn-del, .btn-del-all, .btn-show, .show-storage {
    cursor: pointer;
    display: inline-block;
    color: #fff;    
    padding:12px 30px; 
    border:solid 1px #fff;
    font:14px Arial, Helvetica, sans-serif; 
    font-weight:bold;
    background-color:#4581AE;
}

.btn-del, .btn-del-all {
    padding: 4px 10px;
    font-weight:normal;    
    background-color: #4581AE;        
}

.btn-del-all {
    padding: 12px 30px;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;    
}

.btn-show {
    padding: 5px 5px;
    font-weight: normal;
    color: #696969;
    background-color: #F5F5F5;    
}

.btn-seller-type {
    cursor: pointer;
}

.btn-add-edit:hover, .clear-button:hover, .btn-del:hover, .btn-del-all:hover, .btn-show:hover, .show-storage:hover {
    text-decoration: none;    
    color: #fff;
    background-color: #699bc4;
}

.btn-del:hover, .btn-del-all:hover {
    color: #a94442;
    background-color: #ecd0d0;
    background-repeat: repeat-x;
    border-color: #a94442 !important;
}

.btn-show:hover {
    background-color: #696969;
}

.remove-button {
    text-align: center;
}